.node {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  cursor: move;
  z-index: 9999;
}
